
.panel_login_register {
  padding: 4em 3em 3em 3em;
  max-width: 30em;
  min-height: 40em;
  max-height: 120em;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  text-align: start;
  background-image: linear-gradient(120deg, var(--secondary) 0%, var(--primary) 52%) !important;
  border: none;
  border-radius: 15px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 3px 4px 6px rgba(66, 68, 90, 1);

  left: 0;
  transition: left 0.5s ease;

  &.isRight {
    left: calc(50%);
  }
}

.panel_login_register input[type="text"]:invalid:not(:placeholder-shown),
.panel_login_register input[type="password"]:invalid:not(:placeholder-shown),
.panel_login_register input[type="email"]:invalid:not(:placeholder-shown) {
  border: var(--red) solid 2px !important;
  background-image: url("../../assets/img/main/checked_red.png");
}

.panel_login_register input[type="text"]:valid:not(:placeholder-shown),
input[type="password"]:valid:not(:placeholder-shown),
input[type="email"]:valid:not(:placeholder-shown) {
  background-image: url("../../assets/img/main/checked_green.png");
}

.panel_login_register input[type="text"]:valid:not(:placeholder-shown),
.panel_login_register input[type="password"]:valid:not(:placeholder-shown),
.panel_login_register input[type="email"]:valid:not(:placeholder-shown),
.panel_login_register input[type="text"]:invalid:not(:placeholder-shown),
.panel_login_register input[type="password"]:invalid:not(:placeholder-shown),
.panel_login_register input[type="email"]:invalid:not(:placeholder-shown) {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
}

.panel_login_register input:invalid ~ input[type="submit"] {
  pointer-events: none;
}

.panel_login_register input[type="submit"], .panel_login_register button, .panel_login_register input[type="checkbox"], .panel_login_register select {
  cursor: pointer;
}

.button_block {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.panel_login_register input {
  margin: 0 0 12px 0;
  padding: 12px;
  width: 28.8em;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  -webkit-box-shadow: 8px 8px 24px 1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 1px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 1px rgba(66, 68, 90, 1);
  background-color: var(--white);
  outline: none;
}

.login_button {
  color: var(--white);
  background-color: unset !important;
  border: 1px solid var(--white) !important;
  border-radius: 0.5em;
}

.register_button {
  color: var(--primary);
}

.login_button, .register_button {
  &:disabled {
    cursor: default;
    border: 2px solid red;
  }
}

.background_box_login {
  display: flex;
  position: relative;
  width: 60em;
  height: 30em;
  /*margin-top: 20%; !* do usuniecia *!*/
}

.background_box_login::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(191, 138, 232, 0.8), rgba(134, 59, 192, 0.8)); /* Gradient z przezroczystością */
  z-index: -1;
  opacity: 0.4;
  filter: blur(30%)
}

.main_login_box {
  /*position: relative;*/
  /*display: flex;*/
  /*align-content: center;*/
  /*justify-content: center;*/
  /*width: 100%;*/
  /*height: 100%;*/
  max-width: 960px;
}

.button_on_right {
  right: 9em;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 8em;
  gap: 5em;
}

.button_on_right button {
  color: var(--white);
  background-image: linear-gradient(120deg, var(--secondary) 0%, var(--primary) 52%) !important;
  padding: 27px 69px 27px 69px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.button_on_left {
  left: 9em;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 14em;
}

.button_on_left label {
  color: var(--white);
  font-size: xx-large;
  text-align: center;
}

.button_on_left button {
  color: var(--white);
  background-image: linear-gradient(120deg, var(--secondary) 0%, var(--primary) 52%) !important;
  padding: 27px 69px 27px 69px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.login > * {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.login.active > * {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: block;
}

.register > * {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.register.active > * {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: block;
}

.register_password_block > * {
  width: 50%;
}

.register_password_block input[type="password"] {
  width: 12.6em;
}

.register_password_block {
  display: inline-flex;
  column-gap: 46px;
}

select {
  margin: 0 0 12px 0;
  padding: 12px;
  width: 28.8em;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  -webkit-box-shadow: 8px 8px 24px 1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 1px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 1px rgba(66, 68, 90, 1);
  background-color: var(--white);
  outline: none;
}

.checxbox_box {
  display: inline-flex;
  width: auto;
  gap: 20px;
  flex-direction: column;
  font-size: small;
}

.checxbox_box input {
  width: auto;
  border-radius: 10%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding: 6px;
  background-color: white;
  margin: 0 4px 0 0;
  border: 2px solid var(--white);
}

.checxbox_box input:checked {
  background-color: var(--primary);
  border-color: var(--white);
}

.forgot_password {

}

.forgot_password > * {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.forgot_password.active > * {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: block;
}

.forgot_password h1 {
  margin: unset;
}

.small_text_forgot {
  font-size: small;
  margin: 10px 0 20px 0;
}